body {
    background-color: #333;
}

.jobs {
    background-color: #222;
    color: #fff;
}

.jobs h2 {
    color: #f39c12;
}

.job-card {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.job-card h3 {
    color: #f39c12;
}

.job-description {
    color: #ccc;
}

footer {
    background-color: #111;
}
