body {
    background-color: #000;
    overflow: hidden; /* Prevents horizontal scrollbar caused by animations */
}

.jobs {
    background-color: transparent;
    color: #fff;
    position: relative; /* Required for the animation to be positioned correctly */
    z-index: 1; /* Ensure the card content appears above the animation */
}

.jobs h2 {
    color: #f39c12;
}

.job-card-link {
    display: block; /* Make the whole card clickable */
    text-decoration: none; /* Remove underline on the link */
}

.job-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1; /* Ensure the card content appears above the animation */
}

.job-card h3 {
    color: #f39c12;
}

.job-description {
    color: #ccc;
}

/* Animation styles */
.jobs::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 300%;
    background: url('stars.png') repeat center center;
    animation: moveStars 20s linear infinite;
}

@keyframes moveStars {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

footer {
    background-color: #111;
}
