body {
    background-color: #000;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.jobs {
    background-color: transparent;
    color: #fff;
    padding-top: 60px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.jobs h2 {
    color: #f39c12;
    margin-bottom: 20px;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.job-card-link {
    display: block;
    text-decoration: none;
}

.job-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.job-card h3 {
    color: #f39c12;
    margin-bottom: 10px;
}

.job-description {
    color: #ccc;
}

/* Animation styles */
.jobs::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 300%;
    background: url('stars.png') repeat center center;
    animation: moveStars 20s linear infinite;
}

@keyframes moveStars {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

footer {
    background-color: #111;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
